<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="flex justify-center algin-center">
        <div class="bg-zinc-100 h-[50vh] w-[50vh] rounded mt-10 ">
  <div class="h-32 w-32 rounded-full bg-red-500 mt-20 mx-20">
<img  class="h-full w-full contain rounded-full" src="./Neha.jpg"/>
  </div>
    <h1 class="text-zinc-500 mx-20 p-3 text-bold"> Name: Neha Yadav</h1>
    <h1 class="text-zinc-600 mx-20">Email: neha.yadav2001</h1>
  <div class="flex gap-10 mt-10 ">
    
    <a href="#" class="bg-blue-400 p-2 mx-5 rounded">FaceBook</a>
    <a href="#" class="bg-red-300 p-2 rounded">LinkedIn</a>
    <a href="#" class="bg-yellow-200 p-2 rounded">Instagram</a>
  </div>
        </div>
    </div>
</body>
</html>